{% extends 'base.html.twig' %}

{% block body %}
	
	<img class="white-bg-logo" alt="{% trans %}site.title{% endtrans %}" src="{{ asset('img/logo-glow.png') }}" width="140px" height="140px" />
	
	<div class="grey-box message">
		<h1>{% trans %}changePasswordSuccess.title{% endtrans %}</h1>
		<p class="content">{% trans %}changePasswordSuccess.content{% endtrans %}</p>
	</div>
	
	<div style="text-align: center; margin-top: 20px">
   		<a href="{{ path('login') }}" class="red-button">{% trans %}label.continue{% endtrans %}</a>
	</div>
{% endblock %}
