<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans %}site.title{% endtrans %}{% endblock %}</title>
    </head>
    <body>
		
		<p><b>{% trans %}label.termsTitle{% endtrans %}</b></p>
		<p>{% trans %}label.termsOfUse{% endtrans %}</p>

		<p><b>{% trans %}label.privacyTitle{% endtrans %}</b></p>
		<p>{% trans %}label.privacyPolicy{% endtrans %}</p>
		
    </body>
</html>
