.db-np-tile {
	background: white;
	padding: 10px;
	border: 1px;
	border-color: #dddddd;
	border-style: solid;
	margin-bottom: 10px;
	border-radius: 4px;
}
.db-np-tile a {
	color: black;
}
.db-np-tile h1 {
	color: black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	margin: 0px;
}
.db-np-tile .db-np-domain {
	font-size: 70%;
	font-style: italic;
	padding-left: 10px;
	margin-top: -5px;
}

.db-np-tile .btn {
	margin-right: 5px;
}
.bottom-button {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 20px;
    border-top:1px solid #E4E4E4;
    text-align: right;
}
.invitation {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	border: 0px;
	border-bottom: 1px;
	border: 1px;
	background: rgba(0, 0, 0, 0.05);
/* 	border-color: #ace8e1; */
	border-style: solid;
}
.invitation-message a {
	text-decoration: underline;
}
.invitation-actions a {
	padding-right: 5px;
}
.invitation-actions .btn {
	margin-top: 5px;
}
.config-button{
	float: right;
}
.config-button button {
	font-size: 17px;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
}
.dp-np-content {
	padding-left: 5px;
}