{% extends 'emails/mail_template.html.twig' %}

{% block title %}{% trans %}resetPassword.mail.subject{% endtrans %}{% endblock %}

{% block content %}
	<div>
		<p>
			{% trans %}label.greetings{% endtrans %} {{ user.firstName }} <br/>
			{% trans %}resetPassword.mail.content1{% endtrans %} <br/><br/>
			{% trans %}resetPassword.mail.content2{% endtrans %} <br/>
			<a href="{{ link }}">{% trans %}form.label.getNewPassword{% endtrans %}</a>.
		</p>
		
		<p>{% trans %}label.email.mistake{% endtrans %}<p>
	</div>
{% endblock %}